section {
  background-color: rgb(162, 162, 226);
  padding: 20px;
  display: block;
}

article {
  background-color: aquamarine;
  margin-bottom: 20px;
  padding: 10px;
}

h1 {
  background-color: antiquewhite;
  margin-bottom: 10px;
  padding: 5px;
}

h3 {
  background-color: salmon;
  margin-bottom: 10px;
  padding: 5px;
}

p {
  background-color: yellowgreen;
  margin-bottom: 10px;
  padding: 5px;
}
