section {
  background-color: rgb(162, 162, 226);
  height: 100vh;
}

article {
  background-color: aquamarine;
  height: 20px;
}

h1 {
  background-color: antiquewhite;
  height: 25px;
}

h3 {
  background-color: salmon;
  height: 20px;
}

p {
  background-color: yellowgreen;
  height: 20px;
}
