/* Component Section */

section {
  background-color: rgb(162, 162, 226);
  padding: 20px;
  display: block;
}

.section1 {
  background: rgb(165, 192, 157);
}

/* Component Article */

.article1 {
  background: burlywood;
}

article {
  background-color: aquamarine;
  margin-bottom: 20px;
  padding: 10px;
}

/* Component Titres */

h1 {
  background-color: antiquewhite;
  margin-bottom: 10px;
  padding: 5px;
}

h3 {
  background-color: salmon;
  margin-bottom: 10px;
  padding: 5px;
}

/* Component Paragraphe */

p {
  background-color: yellowgreen;
  margin-bottom: 10px;
  padding: 5px;
}

.button-off-on {
  margin-bottom: 10px;
}
